header {
    text-align: left;
    clear: both;
    border-bottom: solid 1px;
    padding: 0 0 0 130;
    /*background-color: gray;*/
}

nav {
    height: 100%;
    width: 120;
    text-align: left;
    float: left;
    margin: 0 10 0 0;
    border-right: solid 1px;
    /*background-color: gray;*/
}

main {
    text-align: justify;
    padding-left: 20;
    padding-top: 20;
    padding: 20;
}


