body {
    font-family: "Courier New", courier, Monospace;
}

header {
    text-align: left;
    clear: both;
    border-bottom: solid 1px;
    padding: 0 0 0 128;
    background-color: lightgray;
}

nav {
    #height: 20%;
    #width: 128;
    text-align: left;
    #float: left;
    margin: 0 10 0 0;
    border-right: solid 1px;
    background-color: #f2f2f2;
}

main {
    text-align: justify;
    padding-left: 20;
    #margin-left: 128;
    padding-top: 20;
    padding: 20;
}

date {
    
}
